<?xml version="1.0" encoding="UTF-8"?>
<!-- web.xml : Web配置描述符文件, Servlet2.5以前，每个应用必须包含这个文件，且放在 WEB-INF 路径下。 
	Servlet3.0 以后，可通过 Annotation 来配置管理Web组件 <web-app> 
	[metadata-complete]: 为true时该Web应用不会加载Annotation配置的Web组件(如Servlet/Filter 等) 
	《context-param》: 配置键值对格式的参数，对整个Web应用有效，代码中可通过 getInitParameter()方法获得对应的值
	《servlet》：配置 servlet, 可以指定 servlet-name 对应的 jsp-file 
	《servlet-mapping》：将 servlet-name 对应的 servlet 映射到 url-pattern 指定的路径
	《jsp-config》+《jsp-property-group/》：配置JSP属性，主要有《el-ignored》是否允许使用表达式语言；《scripting-invalid》是否允许使用JSP脚本 等
	  
	  
	
	
 -->


<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>JavaEEStudy</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>JSPStudy.jsp</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<context-param>
		<param-name>db_driver</param-name>
		<param-value>org.sqlite.JDBC</param-value>
	</context-param>
	<context-param>
		<param-name>db_url</param-name>
		<param-value>jdbc:sqlite:./sqlitedemo.db</param-value>
	</context-param>

<!-- 
	<servlet>
		<servlet-name>ServletStudy</servlet-name>
		<servlet-class>com.fishjam.study.javaee.ServletStudy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletStudy</servlet-name>
		<url-pattern>/ServletStudy</url-pattern>
	</servlet-mapping>
-->
 	
</web-app>